.accountNavigationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 5vw 15vw;
    margin-bottom: 10vh;
}

.userWelcome {
    text-align: center;
    color: #333;
}

.userNav {
    padding: 1vw;
    border: 5px solid #333;
    color: #333;
    text-decoration: none;
    box-shadow: 1px 1px 2px #333;
}

.userNav:hover {
    background-color: rgba(253, 136, 40, 0.2);
}

