.individualActivityContainter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: fit-content;
    gap: 5vw;
    margin: 3vh 3vw 5vh 3vw;
}

.individualActivity {
    padding: 2vw;
    border: 3px solid #333;
    text-align: center;
    line-height: 4vh;
    box-shadow: 5px 3px 5px rgb(70, 70, 70);
}

b {
    font-size: 20px;
}

.activityDescription {
    font-style: italic;
}

.individualActivity:hover {
    background-color: rgba(253, 136, 40, 0.2);
}